@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  /*text-align: center;*/
  justify-content: space-between;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 10px 15px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header, .footer, ul {
  display: flex;
}

.header, .footer {
  padding: 0 20px;
  justify-content: space-between;
}

a {
  color: #666565;
  text-decoration: none;
}

.footer {
  background-color: #eeeeee;
}

ul {
  list-style: none;
  padding: 0;
  gap: 15px;
}